@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Retro Team";
  src: url("/assets/fonts/RetroTeam.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
